{% extends 'base.html.twig' %}

{% block title %} Hello CarController!{% endblock %}

{% block body %}
   <style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<h1>Justin O Schmidt</h1>
<h2>Qui est-il ... ?</h2>
<p>Un scientifique américain assez... Unique. Il s'est fait piquer par 150 espèces d'hyménoptères différentes (abeilles, guêpes et fourmis) et a ainsi créé l'index Schmidt de pénibilité des piqûres d'hyménoptères (Justin O. Schmidt Pain Index) en 1984.</p>
<p>Depuis, cette échelle est toujours une référence pour évaluer la douleur que l'on ressent lorsque l'on se fait piquer par un insecte.</p>
<p>Justin O Schmidt est un entomologiste, ou scientifique qui étudie les insectes, américain né en 1947. Son travail sur les hyménoptères (abeilles, guêpes et fourmis) a forcément engendré quelques piqûres... Or, c'est justement le venin injecté par les insectes qui intéresse Schmidt.</p>
<p>L'effet des venins reste peu compris des scientifiques qui tentent d'en savoir plus sur la manière dont ils sont ressentis par chacun et pourquoi, par exemple, le venin de la guêpe pepsis (tarantula hawk) ne dure que quelques minutes alors que le venin de la fourmi paraponera peut durer jusqu'à 24 heures !<p>
<p>C'est donc pour son travail que, dans les années 1980, Schmidt a décidé d'évaluer et de classifier la douleur infligée par différents venins pour répertorier ces piqûres de manière scientifique.</p>
<p>Ainsi, En 1990, l'index de la douleur était né et expliquait les piqûres de 78 espèces de manière très vivante.</p>
<p>D'autres échelles de la douleur existent, entre autres l'échelle de Mc Gill (1975), qui répertorie les douleurs sur une échelle de 0 à 6 ; celles de Lutterbeck et Triay (1972) qui n'a que deux échelons. Christopher Starr a développée en 1985 une autre échelle de la douleur[1] des piqûres d'hyménoptères basé sur celle de Justin O Schmidt mais la sienne a 5 échelons. Il existe également l'échelle de Scolville qui évalue les douleurs ressenties mais dans le cas des piments !<p>

<p>L'échelle de la douleur de Schmidt avec quelques exemples de piqures</p>
<p>L'échelle utilisée par Schmidt va de 0 à 4, 0 étant la sensation que l'on éprouve lorsque l'on est piqué par un insecte qui ne peut pas pénétrer la peau de l'Homme, donc nulle ; 2 une piqure « familière » intermédiaire comme celle de l'abeille et 4 une piqûre intense et extrêmement douloureuse comme celle de la terrible fourmi Paraponera clavata.</p>
{% endblock %}
